* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: rgb(115, 115, 130);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.85;
}

section {
	padding: 1rem;
	text-align: center;
}

/***** START: Hero Banner *****/
.hero-logo {
	position: absolute;
	top: 20.5px;
	left: 8%;
	z-index: 5;
	color: #eee;
	font-size: 1.8rem;
	font-weight: 600;
}

/* Top Navigation */
nav {
	position: absolute;
	top: 2.4rem;
	right: 8%;
	z-index: 100;
}

.nav-list li {
	display: inline-block;
	list-style: none;
}

.nav-list li a {
	text-decoration: none;
	color: #eee;
	font-size: 1.35rem;
	font-weight: 600;
	margin-right: 1.75em;
}

.nav-list li:nth-child(3) a {
	margin-right: 3.75em;
}

.nav-support {
	padding: .8rem 2.7rem;
	color: #eee;
	font-size: 1.35rem;
	text-shadow: rgba(0, 0, 0, .2) 1px 1px 10px;
	box-shadow: rgba(0, 0, 0, .15) 1px 1px 10px;
	background-color: rgb(129, 211, 152);
	border: none;
	border-radius: 4px;
}

.active {
	border-bottom: 2px solid #fff; */
	padding-bottom: .5rem;
}

.nav-list li a:hover {
	color: #fff;
}

.nav-support:hover {
	background-color: rgb(139, 221, 152);
	border-bottom: 0px;
}

/* Responsive Menu */
label {
	display: none;
	position: fixed;
	top: 1.25rem;
	right: 0%;
	color: #eee;
	font-size: 3.25rem;
	font-weight: 400;
	line-height: 2.25rem;
	padding: 1.5rem 5rem 1.5rem 2rem;
	border-radius: 10rem 0 0 10rem;
	background-color: rgba(116, 73, 215, .5);
	z-index: 100;
}

#toggle {
	display: none;
}

.overlay {
	display: none;
	position: fixed;
	background-color: rgba(72, 0, 163, 0.85);
	width: 100vw;
	height: 100vh;
	z-index: 50;
}
/**/

/* Hero Banner Content */
.hero-content {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.hero-content h1 {
	display: block;
	color: #fff;
	font-size: 4.5rem;
	letter-spacing: .025rem;
	line-height: 5.25rem;
	margin-top: 2.5rem;
}

.hero-content h1 span {
	color: rgb(155, 232, 177);
}

/* Form */
.hero-content form {
	margin-top: 3.5rem;
}

.domain {
	padding: 1.75rem 8rem 1.75rem 3rem;
	width: 360px;
	color: #888;
	font-size: 1.7rem;
	letter-spacing: .05rem;
	border-radius: 8px;
	border: none;
}

.domain:focus {
	outline: none;
	box-shadow: rgba(253, 253, 255, .9) 0px 0px 10px 1px;
	/* border: 2px solid #fff; */
}

input::-webkit-input-placeholder{
    color: #bbb;
		font-size: 1.7rem;
}

.submit {
	padding: 1.75rem 2.5rem;
	margin-left: .6rem;
	color: #eee;
	background-color: rgb(129, 211, 152);
	font-size: 1.7rem;
	letter-spacing: .05rem;
	border-radius: 8px;
	border: none;
	outline: none;
	transition-duration: .25s;
}

.submit:hover {
	color: #fff;
	text-shadow: rgba(0, 0, 0, .2) 1px 1px 10px;
	background-color: rgb(139, 221, 152);
	transition-duration: .25s;
}

.submit:active {
	outline: none;
	transform: scale(.95);
}

.valid {
	border: 4px solid green;
}

.invalid {
	border: 4px solid red;
}
/**/

/* Hero Banner Background */
.hero-wrapper {
	position: relative;
	height: 100vh;
	background-size: cover;
	background-color: rgb(115, 111, 223);
	clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
	z-index: 0;
}

.hero-middle {
	position: relative;
	height: 80vh;
	background-size: cover;
	background-color: rgb(116, 73, 215);
	clip-path: polygon(0 0, 100% 0, 100% 62%, 0 100%);
	z-index: 1;
}

.hero-top {
	position: relative;
	height: 20vh;
	background-size: cover;
	background-color: rgb(117, 45, 208);
	clip-path: polygon(0 0, 70% 0, 70% 0%, 0 100%);
	z-index: 2;
}

.arrow-down {
	position: absolute;
	bottom: 15%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, 39%);
	z-index: 10;
}

.arrow-down h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.arrow {
	height: 52px;
	width: auto;
	margin-top: 10px;
	padding: 9px;
	border-radius: 50%;
	background-color: rgb(129, 211, 152);
	box-shadow: rgba(0, 0, 0, .15) 1px 2px 10px;
	animation-name: arrowBounce;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier();
	animation-iteration-count: infinite;
}

.arrow:hover {
	background-color: rgb(139, 221, 152);
	transition-duration: .25s;
}

@keyframes arrowBounce {
	0% {transform: translateY(14px);}
	50% {transform: translateY(0px);}
	100% {transform: translateY(14px);}
}
/***** END: Hero Banner *****/

/***** START: How Section *****/
.how-content {
	width: 64%;
	margin: 0 auto;
	padding: 40px;
}

.how p {
	font-size: 2rem;
	line-height: 3rem;
}

.account-btn {
	display: inline-block;
	padding: .5rem 2.7rem;
	margin-top: 34px;
	color: #fff;
	font-size: 1.35rem;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: rgba(0, 0, 0, .15) 1px 1px 10px;
	background-color: rgb(115, 111, 223);
	border: none;
	border-radius: 8px;
}

.account-btn:hover {
	background-color: rgba(72, 0, 163, .85);
	cursor: pointer;
	color: #fff;
}

.account-btn:active {
	outline: none;
	box-shadow: none;
	transform: scale(.98);
}
/***** END: How Section *****/

/***** START: Services Section *****/
.services-content {
	margin: 0 auto;
}

.services-content h2 {
	font-size: 2.15rem;
	font-weight: 300;
	letter-spacing: .05rem;
}

.services-content h2::after {
	content: "";
	margin: 0 auto;
  display: block;
  width: 5%;
  padding: 4px;
	margin-bottom: 24px;
  border-bottom: 3px solid;
}

.areas {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.areas > div {
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 500px;
	border: 2px solid #eee;
	border-radius: 8px;
	background-color: rgb(252, 252, 252);
	padding: 30px 0px;
	margin: 10px;
}

.info {
	flex: 1;
	text-align: left;
	padding-right: 30px;
}

.info h3 {
	color: #333;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.info p {
	color: #999;
	font-size: 1.4rem;
}

.areas img {
	flex: 0 0 90px;
	height: 113px;
}

.areas > div {
	transition-duration: .25s;
	transition-timing-function: ease;
}

.areas > div:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition-duration: .25s;
	transition-timing-function: ease;
}

.areas > div:active {
	outline: none;
	border: 2px solid #aaa;
}

/***** END: Services Section *****/

/***** START: Create Account Section *****/
.account-content {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 4rem 0;
	width: 80%;
}

.account-content > h2 {
	flex: 0 1 auto;
	text-align: left;
	font-weight: 300;
	font-size: 2.15rem;
	line-height: 3rem;
	color: rgb(132, 129, 226);
}

.buttons {
	flex: 0 1 auto;
	position: relative;
	top: -1.75rem;
	align-items: center;
}

.contact {
	background-color: #fff;
	color: rgb(140, 140, 140);
	margin-left: 1rem;
}

.account-content > h2 span {
	font-weight: 400;
	color: rgb(91, 60, 150);
}
/***** END: Create Account Section *****/

/***** START: Footer *****/
footer {
	position: relative;
	color: #ddd;
	background-color: rgb(115, 111, 223);
}

.footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 8rem;
}

.footer-content ul {
	flex: 0 1 auto;
	list-style: none;
	font-size: 1.35rem;
	font-weight: 300;
}

.col > li {
	padding-bottom: 1rem;
}

.col a {
	text-decoration: none;
	color: inherit;
}

.contact-info > li {
	position: relative;
}

.contact-info > li:nth-child(2), .contact-info > li:nth-child(3) {
	padding-top: 2.75rem;
}

.contact-icon img {
	position: absolute;
	left: -3.25rem;
}

.contact-address > li {
	line-height: 2rem;
}

.medium {
	font-size: 1.5rem;
	font-weight: 400;
}

.bold {
	font-size: 1.65rem;
	font-weight: 700;
	color: #efefef;
}

.gray-bkg {
	position: absolute;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
	background-color: rgb(246, 249, 252);
	z-index: -1;
}
/***** END: Footer *****/

/***** START: Media Queries *****/
@media (max-width: 860px) {
	.arrow-down h3 {
		display: none;
	}
}

@media (max-width: 720px) {

	label {
		display: block;
		transition: .15s ease;
	}

	label:hover {
		color: #fff;
		cursor: pointer;
		transform: scale(1.05);
		transition: .3s ease;
	}

	label:visited {
		color: #eee;
	}

	#toggle:checked ~ div,
	#toggle:checked ~ nav > ul {
		display: block;
	}



	.nav-list {
		position: fixed;
		display: none;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.nav-list li {
		display: block;
		margin: 2.25rem;
	}

	.nav-list li a:hover {
		border-bottom: 2px solid #fff;
	}

	.nav-list li a {
		color: #ddd;
		font-size: 2.75rem;
		font-weight: 700;
		margin: 0;
		padding: 0 0 .5rem 0;
	}

	.nav-list li:nth-child(3) a {
		margin-right: 0;
	}

	.nav-support, .nav-support:hover {
		background-color: rgba(0, 0, 0, 0);
		padding: 0 0 .5rem 0;
		border-radius: 0;
	}

	.footer-content > ul {
		flex: 1 1 33.33%;
		margin: 2rem;
	}

	/* .social-icons {
		flex: 2;
	} */

	.social-icons li {
		display: inline-block;
	}
}

@media (max-width: 530px) {

	.hero-content h1 {
		font-size: 3.75rem;
	}

	.submit {
		display: block;
		margin: 30px auto;
	}

	.domain {
		padding: 1.75rem 6rem 1.75rem 3rem;
	}

	.how-content {
		width: 80%;
	}

	.how-content p {
		font-size: 1.35rem;
	}

	.arrow-down {
		display: none;
	}
}

@media (max-width: 430px) {

	.nav-list li a {
		font-size: 2.25rem;
	}

	.hero-content h1 {
		font-size: 3rem;
		line-height: 4rem;
	}

	.submit {
		display: block;
		margin: 30px auto;
	}

	.domain {
		padding: 1.75rem 1rem 1.75rem 1rem;
		width: 80%;
		min-width: 280px;
	}

	.account-content h2 {
		text-align: center;
	}

	footer {
		display: none;
	}
}


/***** END: Media Queries *****/
